<main class="sm:px-4 py-8 bg-gray-50">
  <h1 class="text-center mb-10">Edit Ingredient</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <section class="col-span-1 md:col-span-1 md:col-start-2 md:col-end-2 px-4">
      <div class="shadow-md sm:rounded-lg bg-white p-4">
        <form action="" id="edit_ingredient" method="POST">
          <div class="mb-4">
            <label for="ingredient" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingredient</label>
            <input type="text" id="ingredient_name" autofocus autocomplete="off" name="name" placeholder="e.g. Egg" required value="<%= ingredient.name %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-4">
            <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unit</label>
            <select id="unit" name="unit" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option>Choose a Unit</option>
              <% SUPPORTED_UNITS.forEach(unit => { %>
              <option <% if (unit.symbol == ingredient.unit) { %> selected <% } %> value="<%= unit.symbol %>"><%= unit.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-4">
            <label for="unitCost" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cost per Unit (1,000 VND)</label>
            <input type="number" id="unitCost" name="unitCost" placeholder="5" required value="<%= ingredient.unitCost %>" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <button type="submit" data-id="<%= ingredient._id %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Save</button>
        </form>
      </div>
    </section>
  </div>
</main>
<script>
  // Send AJAX request to add ingredient
  const updateIngredient = () => {
    const name = document.querySelector('#ingredient_name').value;
    const unit = document.querySelector('#unit').value;
    const unitCost = document.querySelector('#unitCost').value;

    const ingredient = {
      name,
      unit,
      unitCost,
    };

    fetch('/ingredients/<%= ingredient._id %>', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(ingredient),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  // Button to trigger the AJAX request
  const submitButton = document.querySelector('#edit_ingredient button[type="submit"]');
  submitButton.addEventListener('click', (event) => {
    event.preventDefault();
    updateIngredient()
  });
</script>